h1, h2, h3 {
    margin: 10px;
}

button {
    background-color: white;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    transition: 0.1s ease;
}

button:hover {
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px
}

.card > * {
    font-family: 'Silkscreen', cursive;
}
.card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

/* .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 5px solid #F8B880;
} */

.card-container-cart {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-width: 400px;
    align-items: center;
    border: 4px solid #F8B880;
}


.card {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 550px;
    height: 130px;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 8px;
    background-color: #F8F8D0;
    border: 2px solid #F8B880;
    align-items: center;
}

.card:hover {
    border: 4px solid #F8B880;
}

.card > img {
    height: 10
}

.card-cart {
    display: flex;
    flex-flow: row wrap;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    align-items: center;
    width: 550px;
    justify-content: space-between;
    background-color: #F8F8D0;
    border: 2px solid #F8B880;
}

.card-cart > img {
    position: inherit;
}

.card-above {
    position: relative;
}

.card  > h1,
.card  > h2 {
    text-align: start;
}

.name-cost > h1 {
    font-size: 1.8rem;
    border-bottom: 6px dashed #E8E0A8;
}

.name-cost {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
    
}

.card > h2 {
    font-weight: 500;
}

.card-above > a {
    color: black;
    text-decoration: none;
}

.card {
    color: black;
    text-decoration: none;
}