.card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
    position: relative;
}

.card-container-cart {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-width: 400px;
    gap: 16px;
    align-items: center;
}

h1, h2, h3 {
    margin: 10px;
}

.card > img {
    position: absolute;
    top: 85%;
    left: 5%;
    width: 40px;
    height: 40px;
}

button {
    position: absolute;
    top: 85%;
    right: 5%;
    width: 80px;
    height: 40px;
}

button {
    background-color: white;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    transition: 0.1s ease;
}

button:hover {
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px
}

.card {
    box-sizing: border-box;
    width: 230px;
    height: 350px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 8px;
}

.card-cart {
    display: flex;
    flex-flow: row wrap;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    align-items: center;
    width: 450px;
    justify-content: space-between;
}

.card-cart > img {
    position: inherit;
}

.card-above {
    position: relative;
}

.card > a > h1,
.card > a > h2 {
    text-align: start;
    padding-left: 16px;
}

.card > a > h1 {
    font-size: 1.8rem;
}

.card > a > h2 {
    font-weight: 500;
}

.card > a > h3 {
    font-weight: 300;
}

.card > a {
    color: black;
    text-decoration: none;
}